package year20{{YEAR}}

import (
	"bufio"
	"os"

	"github.com/CerealBoy/adventofcode/shared"
)

func init() {
	days[{{DAY}}] = day{{DAY}}
}

func day{{DAY}}(ctx *shared.Context) error {
	f, _ := os.Open(shared.File(20{{YEAR}}, {{DAY}}, ctx.Test))
	scanner := bufio.NewScanner(f)
	for scanner.Scan() {
		line := scanner.Text()
	}
}
